/* orange #f97f00 */
/* black #000000 */
/* dark gray #5b5b5b */
/* light gray #999999 */
/* purple #6a329f */
/* blood red #900C2C */

* {
  font-family: 'Grechen Fuemen', cursive;
}

body {
  background-image: linear-gradient(#000000, #5b5b5b, #6a329f);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-weight: bold;
  font-size: 30px;
  color: #BF103A;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* .vamplips-icon,
.skull-icon {
  width: 80px;
  margin-top: 30px;
} */

p {
  margin-top: 20px;
  margin-bottom: 0;
}

article {
  border: 2px solid #5b5b5b;
  border-style: outset;
  width: 142px;
  height: 115px;
  cursor: pointer;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vamplips-player1-section,
.skull-player2-section,
.board-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:40%;
}

.hidden {
  display: none;
}

.board-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  width: 70%;
  border:5px groove #999999;
  border-style: ridge;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 3px 0px 3px #444444;
  margin: 0;
}

.div-board-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 50%;
  /* border:2px solid red; */
}

.board-section-header {
  font-size: 70px;
  color: #5b5b5b;
  margin-top: 100px;
  margin-bottom: 0;
  padding: 20px;
}

.two,
.five,
.eight {
  border-right: none;
}

.seven,
.eight,
.six {
  border-bottom: none;
}

.zero,
.three,
.six {
  border-left: none;
}

.zero,
.one,
.two {
  border-top: none;
}
